<app-header></app-header>
<div class="post-section container">
    <div class="row">
      <hr />
      <div class="create-post-container col-md-9">
        <form class="post-form" [formGroup]="postForm" (ngSubmit)="createPost()">
          <div class="form-group">
            <div class="create-post-heading">Create Post</div>
            <hr />
            <input type="text" [formControlName]="'postName'" class="form-control mt-2"
              placeholder="Title">
  
            <input type="text" class="form-control mt-2" [formControlName]="'url'" placeholder="URL">
  
            <select class="form-control mt-2" [formControlName]="'subredditName'">
              <option value="" selected disabled>Select Subreddit</option>
              <option *ngFor="let subreddit of subreddits$">{{subreddit.name}}</option>
            </select>
  
            <editor [formControlName]="'description'" placeholder="Text" class="mt-2" [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                          'searchreplace visualblocks code fullscreen',
                          'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                          'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | help'
                      }">
            </editor>
            <span>
              <div class="row mt-1">
                <div class=" col-md-6 col-sm-12 mt-2">
                  <button (click)="discardPost()" class="btn btn-secondary btn-block mx-1">
                    Cancel
                  </button>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                  <button  class="btn btn-primary btn-block mx-1">Post</button>
                </div>
              </div>
            </span>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>